@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
  --body-color: #0C090D;
  --header-color: #7EA0B7;
  --nav-color: #597081;
  --main-color: #A9CEF4;
  --footer-color: #36494E;

  --font-color: #d3dce6;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 10px;
}

body {
  font-family: 'Oswald', sans-serif;
  display: grid;
  grid-template-rows: 150px auto 100px;
  grid-template-columns: minmax(200px, 3fr) 9fr;
  grid-template-areas: "header header"
                       "nav    content"
                       "nav    footer";
  background-color: var(--body-color);
  color: var(--font-color);
}

header {
  /* grid-column: 1 / 3; */
  grid-area: header;
  background-color: var(--header-color);
}

nav {
  /* grid-row: 2 / span 2; */
  grid-area: nav;
  background-color: var(--nav-color);
}

main {
  background-color: var(--main-color);
}

footer {
  background-color: var(--footer-color);
}